<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/vchandru/IdeaProjects/webAutiomation_ChandruV/src/test/java/org/automationTesting/Testcases/TC001.java">
        <classes>
            <class name="org.automationTesting.Testcases.TC001">
                <methods>
                    <include name="TCOO1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>